.notification {
    display: inline-block;
    margin-right: 15px;
    cursor: pointer;
    position: relative;

    .list_notification {
        border: 1px solid #d2d2d2;
        z-index: 1;
        position: absolute;
        background: #fff;
        width: 400px;
        right: 0px;
        height: auto;
        top: 47px;
        border-radius: 5px;
        display: none;

        ul {
            padding-left: 0px;
            list-style: none;
            margin-bottom: 0px;

            li {
                text-align: left;
                border-bottom: 1px solid #d2d2d2;
                padding: 10px 15px 10px 15px;

                a {
                    text-decoration: none;
                    color: #333;
                }
            }

            li:last-child {
                border-bottom: none;
            }
        }
        .item {
            .content {
                margin-bottom: 5px;
            }
            .date {
                font-size: 11px;
            }
            &.unread {
                background: #edf2fa;
                &:hover {
                    background-image: linear-gradient(rgba(29, 33, 41, .04), rgba(29, 33, 41, .04));
                }
            }
        }
    }

    .icon {
        margin-bottom: 0px;

        sup {
            top: -1.25em;
            border: 1px solid red;
            border-radius: 100%;
            padding: 2px;
            color: #fff;
            background: red;
        }
    }

    .icon:before {
        content: "\f0a2";
        font-family: FontAwesome;
        font-style: normal;
        font-weight: normal;
        text-decoration: inherit;
        font-size: 20px;
    }
    .read_more {
        padding-top: 10px;
        padding-bottom: 10px;
        border-top: 1px solid #ddd;
        color: #000;
    }
}